<h1>Gestiòn oferta de cursos</h1>

<table style="border-width: 2px; border-radius: 3; border-color: black; width: 100%">
  <tr>
  	<td style="width: 20%" align="right">Periodo</td>
  	<td style="width: 20%" align="left"><%= select_tag(:persel, options_for_select(@periodos.collect{|x| ["#{x.ano} - #{x.semestre}", x.id]})) %></td>
  	<td style="width: 20%" align="right">Top</td>
  	<td style="width: 20%" align="left"> <%= text_field_tag :top, nill, :maxlength => 2, :style => "width:40px"%></td>
  	<td style="width: 20%" align="center"><%= button_to 'Actualizar', materias_periodo_path,:class => 'btn btn-primary' %></td>
  </tr>
 </table>
 <hr />

 <hr />