<h3>Usuarios</h3>

<table class="table table-bordered">
  <tr>
  	<th>Nombres</th>
    <th>Direccion de Correo</th>
    <th>Mas Informacion</th>
  </tr>

<% @users.each do |user| %>
  <tr>
  	<% if not user.nil? then %>
  	<td><%= user.name%></td>
    <td><%= user.email %></td>
    <% else %>
    <td></td>
    <td></td>
    <td></td>
    <% end %>
    <td><%= link_to 'Ver información', user,:class => 'btn btn-primary' %></td>
  </tr>
<% end %>
</table>