<h3>Informacion de usuario</h3>
<p><strong> User:</strong> <%= @user.name %></p>
<p><strong> Email: </strong> <%= @user.email if @user.email %></p>

<%= link_to 'Menu usuarios', users_path, :class => 'btn' %>

