<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<%if not @user.estudiante.nil?%>
<%= link_to 'Menu estudiante', menu_estudiante_path(@user.estudiante) %>
<% end %>
