<h1>Llenar encuesta</h1>

<div>
	Por favor diligencie la siguiente encuesta seleccionando las posibles materias que vera el siguiente
	semestre 
</div>
<hr style="color: black" size="2"/>
<br />
<br />
<div>
	<h3>MATERIAS CORRESPONDIENTES A MISIS</h3>
	</div>
<hr />
<table width="80%">
  <tr>
    <td width="10px"><input type="checkbox" id="mat1" name="MISIS"/></td>
    <td style="font-weight:bold">Materia MISIS 1</td>
  </tr>
    <tr>
    <td><input type="checkbox" id="mat2" name="MISIS"/></td>
    <td style="font-weight:bold">Materia MISIS 2</td>
  </tr>
    <tr>
    <td><input type="checkbox" id="mat3" name="MISIS"/> </td>
    <td style="font-weight:bold">Materia MISIS 3</td>
  </tr>
   <tr>
    <td><input type="checkbox" id="mat4" name="MISIS" /> </td>
    <td style="font-weight:bold">Materia MISIS 4</td>
  </tr>
   <tr>
    <td><input type="checkbox" id="mat5" name="MISIS"/> </td>
    <td style="font-weight:bold">Materia MISIS 5</td>
  </tr>
</table>
<br />
<div>
	<h3> MATERIAS CORRESPONDIENTES A MATI</h3>
	</div>
<hr />

<table width="80%">
  <tr>
    <td width="10px"><input type="checkbox" id="mat6" name="MATI"/></td>
    <td align="left" style="font-weight:bold">Materia MATI 1</td>
  </tr>
    <tr>
    <td><input type="checkbox" id="mat7"  name="MATI"/> </td>
    <td style="font-weight:bold">Materia MATI 2</td>
  </tr>
  <tr>
    <td><input type="checkbox" id="mat8"  name="MATI"/> </td>
    <td style="font-weight:bold">Materia MATI 3</td>
  </tr>
</table>
<br />
<div>
	<h3> MATERIAS CORRESPONDIENTES A OTRAS MAESTRIAS</h3>
	</div>
<hr />

<table width="80%">
  <tr>
    <td width="10px"><input type="checkbox" id="mat10" name="MATI"/></td>
    <td align="left" style="font-weight:bold">Materia OMAE 1</td>
  </tr>
    <tr>
    <td><input type="checkbox" id="mat11"  name="MATI"/> </td>
    <td style="font-weight:bold">Materia OMAE 2</td>
  </tr>
  <tr>
    <td><input type="checkbox" id="mat12"  name="MATI"/> </td>
    <td style="font-weight:bold">Materia OMAE 3</td>
  </tr>
</table>
<hr />
<div style="align: center">
<input type="button" id="btnEnviar" value="Enviar Encuesta" onclick="window.alert('Encuesta enviada satisfactoriamente')" />
</div>

