<div class="page-header">
	<h1>Informacion <%= @maestria.nombre%> </h1>
	<h1><small> Pensum <% @pensum.nombre%> </small></h1>
</div>
<div>
	<p>
		<strong> Codigo: </strong>
		<%= @maestria.codigo%>
	</p>

	<p>
		<strong> Estado: </strong>
		<% if @pensum.estado%>
		Finalizado
		<%else%>
		Pendiente
		<%end%>
	</p>

	<p>
		<strong> Fecha de Creacion: </strong>
		<%= @pensum.fechacreacion%>
	</p>
</div>
<div style="padding-top: 30px">
	<h2>Materias</h2>
	<h2><small> Plan de estudios sugerido </small></h2>
	<div>
		<h3> Periodo </h3>
		<p>
			<div class "row-fluid">
				<div class = "span3">
					<table class="table table-bordered">
						<tr class="success">
							<th>Fundamentacion</th>
						</tr>
						<tr >
							<td class="success">asdf</td>
						</tr>
						<td></td>
						<tr>
							<td></td>
						</tr>
					</table>
				</div>
				<div class = "span3">
					<table class="table  table-bordered">
						<tr class="success">
							<th>Profundizacion</th>
						</tr>
						<tr >
							<td class="success">asdf</td>
						</tr>
						<td></td>
						<tr>
							<td></td>
						</tr>
					</table>
				</div>
				<div class = "span3">
					<table class="table  table-bordered">
						<tr class="success">
							<th>Complemento</th>
						</tr>
						<tr >
							<td class="success">asdf</td>
						</tr>
						<td></td>
						<tr>
							<td></td>
						</tr>
					</table>
				</div>
				<div class = "span2">
					<table class="table  table-bordered">
						<tr class="success">
							<th>Integracion</th>
						</tr>
						<tr >
							<td class="success">asdf</td>
						</tr>
						<td></td>
						<tr>
							<td></td>
						</tr>
					</table>
				</div>
			</div>

		</p>
	</div>

</div>

