<div class="page-header">
	<h1>Inscripcion de Cursos</h1>
	<h1><small> Periodo <%= Periodo.actual.nombre%></small></h1>

	<div style="padding-top: 30px">
		<h2>Materias Inscritas</h2>
		<div class = "row-fluid">
			<div class = "span4">
				<table class = "table table-striped">
					<tr>
						<th>Materia</th>
					</tr>
					<tr>
						<td>Materia</td>
					</tr>
					<tr>
						<td>Materia</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div style="padding-top: 30px">
		<div class = "row-fluid">
			<div class = "span2">
				<table class = "table table-striped">
					<tr>
						<th>Maestria</th>
					</tr>
					<tr>
						<td>Materia</td>
					</tr>
					<tr>
						<td>Materia</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
