// Place all the styles related to the Estudiantes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-carpeta {
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 20%;
}